@import url(global.css);

@media screen and (max-width: 42.25em) {
  /* ===========================================
   Navigation  mobile
   =========================================== */
  .navigation {
    flex-direction: column;
    padding: var(--primaryspacer);
  }

  .book {
    width: 30px;
    height: 30px;
  }

  .logo {
    font-size: 0.8rem;
    font-weight: 700;
    padding: var(--primaryspacer) 0rem;
  }

  /* ===========================================
   Hero  mobile
   =========================================== */

  .hero-content p {
    font-size: clamp(0.4rem, 4vw, 1rem);
  }

  .read-more-btn {
    font-size: 0.6rem;
  }

  /* ===========================================
   Main  mobile
   =========================================== */

  .service-showcase {
    flex-direction: column;
    margin: auto;
    max-width: 260px;
  }

  .service-showcase p {
    max-width: 200px;
  }

  .provide-content h3,
  .business-section h3,
  .team-section h3 {
    font-size: 0.6rem;
  }

  .provide-content h2,
  .business-section h2,
  .team-section h2,
  .contact-wrapper h2,
  .service-showcase h2 {
    font-size: 0.8rem;
  }

  .provide-content p,
  .business-section p,
  .team-section p,
  .service-showcase p {
    font-size: 0.6rem;
    line-height: 1.5;
    font-weight: 300;
  }

  .readmore-btn {
    font-size: 0.5rem;
    padding: 0.3rem;
  }

  /* ===========================================
   PROVIDE SECTION mobile
   =========================================== */

  .provide-section,
  .business-section {
    flex-direction: column;
  }

  /* ===========================================
   TEAM SECTION mobile
   =========================================== */

  .team-images {
    flex-direction: column;
  }

  .team-section img {
    width: 80vw;
  }

  /* ===========================================
   CONTACT SECTION mobile
   =========================================== */

  form {
    flex-direction: column;
  }

  .form-group input {
    width: 100%;
  }
}
